* {
    box-sizing: border-box;
}

body.rtl {
    direction: rtl;
}

.main {
    display: flex;
    /* background-color: aqua; */
    flex-wrap: wrap;
    /* height: 100vh; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

table {
    background-color: lightslategrey;
}

th {
    background-color: lightgrey;
    padding: 5px;
}

td {
    background-color: mistyrose;
    padding: 10px;
    width: 80px;
    height: 40px;
}

img {
    height: 100px;
    width: 100px;
}

.action-btns {
    width: 50px;
    height: 30px;
    cursor: pointer;
    border-radius: 15px;
}

.delete {
    background-color: orangered;
}

.update {
    background-color: palevioletred;
}

.read {
    background-color: plum;
}

.add-book {
    text-align: center;
    background-color: plum;
    width: 400px;
    border-radius: 25px;
    padding: 10px;
}

h3 {
    margin: 0
}

.price-tag {
    width: 50px;
}

.hidden {
    display: none;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 353%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.main-thing {
    display: flex;
    width: 200px;
    height: 150px;
    background-color: plum;
    border-radius: 15px;
    /* align-items: center; */
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.center {
    align-self: center;
    justify-self: center;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
}

.book-modal {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: plum;
    border-radius: 15px;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
}

.close-modal {
    justify-self: flex-end;
    background-color: cadetblue;
    padding-inline-start: 6px;
    padding-top: 3px;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    transition: 0.3s;
}

.close-modal:hover {
    cursor: pointer;
    background-color: coral;
}

.top-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.book-modal img {
    width: 150px;
    height: 150px;
}

.display {
    display: none
}


.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
    transition: 0.2s;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0px solid red;
    border-bottom: 10px solid red;
    transition: 0.2s;
}

.name-head {
    justify-content: space-between;
    /* display: flex; */
}

.name-head:hover{
    cursor: pointer;
}

.price-head {
    justify-content: space-between;
}

.price-head:hover{
    cursor: pointer;
}